{% extends "base.html" %}

{% block content %}
<h1>Вход</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }} {{ form.username(size=32) }}
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(size=32) }}
    </div>
    <div class="form-group">
        {{ form.submit(class_='btn') }}
    </div>
</form>

<!-- Добавляем кнопку для перехода на страницу регистрации -->
<p>Еще нет аккаунта? <a href="{{ url_for('register') }}" class="btn btn-secondary">Зарегистрироваться</a></p>
{% endblock %}